p,h1,h2,.osubemani,.mutefortwitch,.elitelooter {font-family: "Comfortaa", sans-serif}
html {
	height: 100%;
	overflow: auto;
}
h1 {
	text-align: center;
    padding-top: 100px;
    color: white;
	font-size: 60px;
	margin-bottom: -2%;
}
h2 {
	text-align: center;
    padding-top: 10%;
    color: white;
	font-size: 40px;
}
p {
  text-align: center;
  width: 100%;
  height: 50%;
  font-size: 30px;
  color: white;
  top:-100%; right:-100%; left:-100%; bottom:-100%;
  margin:auto;
  padding-top: 2%;
}
p:after {
  text-align: center;
  content: "and i'm an amateur c# developer";
  height: 50%;
  top: 0%;
  animation: abomination1 5s linear 1;
  animation-fill-mode: both;
  top:-100%; right:-100%; left:-100%; bottom:-100%;
  margin:auto;
  padding-top: 50px;
}
@keyframes abomination1 {
  0% {
  	content: "";
  }
  40% {
    content: "";
  }
  40.5% {
    content: "an";
  }
  41% {
    content: "and";
  }
  41.5% {
    content: "and ";
  }
  42% {
    content: "and i";
  }
  42.5% {
    content: "and i'";
  }
  43% {
    content: "and i'm";
  }
  43.5% {
    content: "and i'm ";
  }
  44% {
    content: "and i'm a";
  }
  44.5% {
    content: "and i'm a ";
  }
  45% {
    content: "and i'm a c";
  }
  45.5% {
    content: "and i'm a c#";
  }
  46.5% {
    content: "and i'm a c# ";
  }
  47% {
    content: "and i'm a c# d";
  }
  48% {
    content: "and i'm a c# de";
  }
  49% {
    content: "and i'm a c# dev";
  }
  60% {
    content: "and i'm a c# dev";
  }
  61% {
    content: "and i'm a c# de";
  }
  62% {
    content: "and i'm a c# d";
  }
  63% {
    content: "and i'm a c# ";
  }
  64% {
    content: "and i'm a c#";
  }
  65% {
    content: "and i'm a c";
  }
  66% {
    content: "and i'm a ";
  }
  67% {
    content: "and i'm a";
  }
  68% {
    content: "and i'm an";
  }
  69% {
    content: "and i'm an ";
  }
  72% {
    content: "and i'm an a";
  }
  75% {
    content: "and i'm an am";
  }
  77% {
    content: "and i'm an ama";
  }
  79% {
    content: "and i'm an amat";
  }
  81% {
    content: "and i'm an amate";
  }
  83% {
    content: "and i'm an amateu";
  }
  85% {
    content: "and i'm an amateur";
  }
  94% {
    content: "and i'm an amateur ";
  }
  94.5% {
    content: "and i'm an amateur c";
  }
  95% {
    content: "and i'm an amateur c#";
  }
  95.5% {
    content: "and i'm an amateur c# ";
  }
  96% {
    content: "and i'm an amateur c# d";
  }
  96.5% {
    content: "and i'm an amateur c# de";
  }
  97% {
    content: "and i'm an amateur c# dev";
  }
  97.5% {
    content: "and i'm an amateur c# deve";
  }
  98% {
    content: "and i'm an amateur c# devel";
  }
  98.5% {
    content: "and i'm an amateur c# develo";
  }
  99% {
    content: "and i'm an amateur c# develop";
  }
  99.5% {
    content: "and i'm an amateur c# develope";
  }
  100% {
    content: "and i'm an amateur c# developer";
  }
}
.social {
	display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 90px;
	margin-left: auto;
	margin-right: auto;
}
.social>a {
	z-index: 999;
}
.elitelooter {
  text-align: center;
  position: absolute;
  font-size: 25px;
  color: white;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.osubemani {
  text-align: center;
  position: absolute;
  font-size: 25px;
  color: white;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
.mutefortwitch {
  text-align: center;
  position: absolute;
  font-size: 25px;
  color: white;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-bottom: 50px;
}
.opensource {
  opacity: .5;
  position: absolute;
  top: 15px;
  right: 15px;
}
.opensource>a {
  z-index: 9999;
}
.goose {
	position: absolute;
	display: block;
	padding-bottom: -10%;
	top: 300px;
	margin-left: 45%;
	margin-right: 45%;
	width: 10%;
	/* whats 9 plus 10 */
	height: 20%
	/* you stupid */
}
body {
  margin: 0;
  margin-top: -40px;
  overflow: hidden;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}