<div class="w-full flex flex-col items-center">
  <hr class="border-dashed border-2 border-accent my-3 md:my-6 w-full" />
  <p>Made with ❤️ in Astro and Tailwind CSS.</p>
  <div class="flex gap-4">
    <p><a href="/" class="text-accent">Home</a></p>
    <p><a href="/projects" class="text-accent">Projects</a></p>
    <p><a href="/blog" class="text-accent">Blog</a></p>
    <p><a href="/#about" class="text-accent">About</a></p>
  </div>
  <p>© 2022 Suprnova</p>
</div>

<style>
  p {
    @apply text-base py-1 text-tertiary;
  }
</style>
